<div class="for-pc">
  パソコンの時に表示する内容
  <div class="example">タイムチェックアプリです</div>
  <div class="login"><a href="/signin">ログインはこちらから</a></div>
  <div class="signup"><a href="/signup">新規登録はこちらから</a></div>
</div>
<div class="for-sp">
  スマホの時に表示する内容
</div>
